<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">The best to-do list out there!</h1>
            <p class="lead">If you don't do a task within 7 days... yup, we'll <span>destroy</span> it.</br><b>Our motto:</b> If it's not done within 7 days its not worth having it written down in the first place :)</p>
            <p class="lead">
              <%= link_to "C'mmon, sign up!", new_user_registration_path, class: "btn btn-lg btn-default" %>
            </p>
            <h6>it's free!</h6>
          </div>
        </div>

      </div>

    </div>
