
<%= content_tag :div, id: "item-#{item.id}" do%>
<%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok'%>
<%= item.name %>
<div class="days"><i><%= pluralize(item.days_left, "day") + " left"%></i></div>
<% end %>


