/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "bootstrap-sprockets";

 /*
  **** COLORS ***
  orange: rgb(230, 134, 20)
  blue: rgb(0, 160, 246)
  black for font: rgb(7, 7, 7)
 */

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(7, 7, 7);
} 

.navbar {
  background: transparent;
  border: none;
}

.navbar-logo {
  max-height: 50px;
  max-width: 145px;
}

.nav.navbar-nav.navbar-right li a {
  font-weight: 300;
  font-size: 0.9em;
}

.nav.navbar-nav.navbar-right li a:hover {
  border-bottom: 1px solid rgb(230, 134, 20);
} 

.background {
  background-color: rgba(0, 160, 246, 0.5);
  background-image: image-url("HeaderBackgroundImage.png");
  height: 500px;
}


.SectionTitle {
  font-size: 3em;
  font-weight: 700;
}

.SectionText{
  font-size: 1.3em;
  font-weight: 300;
}

.ContainerButton {
  text-align: center;
}

.CallToAction{
  background-color: rgb(230, 134, 20);
  color: #fff;
  font-size: 2em;
  border-radius: 10px;
  padding: 15px 25px 15px 25px;
}

.CallToAction:hover {
  text-decoration: none;
  background-color: rgb(0, 160, 246);
  color: #fff;
}

@media (max-width: 768px) {
  .Text {
  text-align: center;
  }

  .background {
    max-height: 500px;
  }

  .nav.navbar-nav.navbar-right li a  {
    color: #fff;
  }
}























