/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 /*
  **** COLORS ***
  orange: rgb(230, 134, 20)
  blue: rgb(0, 160, 246)
  black for font: rgb(7, 7, 7)
 */

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(7, 7, 7);
} 

/* NAVIGATION BAR */

.navbar {
  background: transparent;
  border: none;
}

.navbar-logo {
  max-height: 50px;
  max-width: 145px;
}

.nav.navbar-nav.navbar-right li a {
  font-weight: 300;
  font-size: 0.9em;
}

.nav.navbar-nav.navbar-right li a:hover {
  border-bottom: 1px solid rgb(230, 134, 20);
} 

/* END NAVIGATION */

/* SECTION ONE */

.background {
  background-color: rgba(0, 160, 246, 0.5);
  background-image: image-url("HeaderBackgroundImage.png");
  background-size: cover;
  height: 500px;
  margin-bottom: -2px;
}

.SectionTitle {
  font-size: 3em;
  font-weight: 700;
}

.SectionText{
  font-size: 1.3em;
  font-weight: 300;
}

.ContainerButton {
  text-align: center;
  margin-top: 20px;
}

.CallToAction{
  background-color: rgb(230, 134, 20);
  color: #fff;
  font-size: 2em;
  border-radius: 10px;
  padding: 15px 25px 15px 25px;
}

.CallToAction:hover {
  text-decoration: none;
  background-color: rgb(0, 160, 246);
  color: #fff;
}
/* END SECTION ONE */

/* SECTION TWO */

.SectionTwo {
  margin-top: 80px;
}

.SectionTwoBackground {
  background-image: image-url("SectionTwoBackground.png");
  background-size: cover;
  height: 500px;
}

.SectionSubText {
  font-size: 0.9em;
}

.IconContainer {
  margin-top: 30px;
  text-align: center;
  margin-left: 250px;
}

.Icons img {
  height: 60px;
}

.CheckIcon img {
  height: 40px;
  margin-top: 15px;
}

.IconText {
  margin-top: 20px;
}

/* END SECTION TWO*/

/* SECTION THREE */ 

.SectionThreeText {
  margin-top: 30px;
}

.ThreeSubText {
  text-align: center;
}

.SectionThreeBackground {
  background-image: image-url("SectionThreeBackground.png");
  background-size: cover;
  height: 580px;
}

/* Carousel */

.TestimonialText {
  font-weight: 300;
  font-size: 1.5em;
  color: #c8c8c8;
  height: 100px;
}

#testimonial-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons */
#testimonial-carousel .carousel-control {
  background: none;
  color: #010101;
  font-size: 2.3em;
  text-shadow: none;
  margin: 0 300px 0 300px;
}

/* Changes position of the indicators */
#testimonial-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

/* Changes the color of the indicators*/

#testimonial-carousel .carousel-indicators .active {
  background: rgb(230, 134, 20);
  border: rgb(230, 134, 20);
}

#testimonial-carousel .carousel-indicators li {
  background: rgba(200, 200, 200, 0.1);
  border: rgba(200, 200, 200, 0.1);
}

.Quote {
  font-size: 1.2em;
  color: rgba(200, 200, 200, 0.8);
}

.TestimonialBox {
  height: 250px;
  margin-bottom: 10px;
}

.TestimonialBox img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: 50px;
}

.Name {
  font-size: 0.9em;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
}

.CompanyText {
  font-weight: 300;
}

/* end Carousel */
/* END SECTION THREE*/

/* SECTION FOUR */

.SectionFourBackground {
  background-image: image-url("SectionFourBackground.png");
  background-size: cover;
  height: 500px;
}

.SectionFourText {
  margin-top: 180px;
  text-align: center;
}

.ButtonFour {
  margin-top: 40px;
}

.UpArrow {
  color: #010101;
  text-align: center;
  font-size: 0.8em;
  margin-top: 100px;
}

.TopText {
  color: #010101;
  margin-left: 5px;
}

.TopText:hover {
  text-decoration: none;
  color: rgb(230, 134, 20);
}


/* END SECTION FOUR */

@media (max-width: 768px) {

  .ResponsiveText {
  text-align: center;
  }

  .background {
    max-height: 520px;
  }

  .HeaderText {
    margin-top: 60px;
  }

  .nav.navbar-nav.navbar-right li a  {
    color: #fff;
  }

  .SectionTwoBackground {
    height: 600px;
  }

  .SectionTwo {
    margin-top: 60px;
  }

  .IconContainer {
    margin-left: 0;
    margin-top: 0px;
  }

  .Icons {
    margin-top: 10px;
  }

  .Icons img {
    height: 40px;
  }

  .CheckIcon {
    margin-bottom: 15px;
  }

  .CheckIcon img {
    height: 30px;
  }

  #testimonial-carousel .carousel-control {
    background: none;
    color: #010101;
    font-size: 2.3em;
    text-shadow: none;
    margin: 0 10px 0 10px;
}
}











